/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
    display: flex;
}
.left-column {
    width: 25%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* または space-between */
    height: 100vh; /* ビューポートの高さに合わせる */
    overflow: auto;
    position: fixed;
    font-size: 30px;
}


.right-column {
    width: 75%;
    margin-left: 25%;
    padding: 10px;
    font-size: 30px;
}
.tweet-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}